:root {
  --brand-color: #84A278;
  --accent-color: #F8D24E;
  --main-color: #FCFCFC;
  --secondary-color: #131313;
  --effects-color: #0A8817;
  --disabled-color: #ababab;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  border: none;
  padding: 12px 35px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  line-height: 0;
  background-color: var(--accent-color);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.btn:hover, .btn:focus {
  background-color: var(--effects-color);
}
.btn:focus {
  color: var(--main-text-color);
}
.btn:disabled {
  background-color: var(--disabled-color);
}

.header__buy-btn::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  background-image: url("../img/btn-arrow.svg");
}

.logo {
  display: block;
  width: 40px;
}
@media screen and (min-width: 480px) {
  .logo {
    width: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    width: 60px;
  }
}
.mobile-menu .logo {
  margin-left: 20px;
}

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 500ms linear, visibility 500ms linear;
  transition: opacity 500ms linear, visibility 500ms linear;
  overflow: auto;
}
.backdrop[class*=is-hidden] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 14px;
  padding-bottom: 64px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--brand-color);
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 17px;
  right: 20px;
}
.mobile-menu__close-btn--little {
  top: 12px;
  right: 12px;
}

.mobile-menu__close-icon {
  fill: #fff;
}
.mobile-menu__close-btn--little .mobile-menu__close-icon {
  fill: var(--secondary-color);
}

.mobile-menu--top {
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .mobile-menu--top {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu--top {
    margin-bottom: 76px;
  }
}

.mobile-menu__item {
  text-align: center;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.mobile-menu__link {
  font-weight: 700;
  font-size: 32px;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu__link {
    font-size: 48px;
  }
}

.modal {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px;
  width: 88%;
  background-color: var(--main-color);
  border: 2px solid #F8D24E;
  border-radius: 10px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 420px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 570px;
  }
}

.modal__title {
  margin-bottom: 20px;
  font: 16px/1.5 "Seymour One", sans-serif;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal__title {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.buy-now-modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px 32px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .buy-now-modal__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .buy-now-modal__list {
    margin-bottom: 40px;
  }
}

.buy-now-modal__item {
  position: relative;
}

.buy-now-modal__descr {
  padding: 20px 10px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.buy-now-modal__accent {
  position: absolute;
  z-index: -1;
  top: 7px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
}
.buy-now-modal__accent--green {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
}
.buy-now-modal__accent--yellow {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
}
.buy-now-modal__accent--brown {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(213, 117, 63, 0.7)), to(rgba(213, 117, 63, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.buy-now-modal__border {
  display: block;
  position: absolute;
  z-index: -1;
  top: 62px;
  width: 132px;
  height: 136px;
  border-radius: 15px;
}
.buy-now-modal__border--green {
  border: 2px solid #96AF8C;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
          filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
}
.buy-now-modal__border--yellow {
  border: 2px solid #EFD478;
  -webkit-box-shadow: 0px 5px 20px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 5px 20px rgba(212, 20, 67, 0.1);
}
.buy-now-modal__border--brown {
  border: 2px solid #D6936D;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
          filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
}

.about-product-modal {
  padding: 28px 20px;
  overflow: auto;
}
@media screen and (min-width: 768px) {
  .about-product-modal {
    padding: 32px 40px;
  }
}

.about-product-modal__img-wrapper {
  position: relative;
  margin-bottom: 22px;
}

.about-product-modal__accent {
  position: absolute;
  z-index: -1;
  top: 7px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .product-content {
    width: 320px;
    margin-bottom: 50px;
  }
}

.product-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 53px;
  height: 72px;
  font-size: 10px;
  border: 2px solid #9CBE8F;
  border-radius: 40px;
}
.product-content__item:not(:last-child) {
  margin-right: 9px;
}
@media screen and (min-width: 768px) {
  .product-content__item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .product-content__item {
    width: 65px;
    height: 90px;
    font-size: 12px;
  }
}

.product-content__item--amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
  width: 43px;
  height: 43px;
  font-weight: 500;
  background: #9CBE8F;
  border: 2px solid #9CBE8F;
  border-radius: 50%;
  -webkit-box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.ingredients__title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.ingredients {
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .ingredients {
    margin-bottom: 48px;
  }
}

.ingredients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.04em;
}
.ingredients__item:not(:last-child) {
  margin-bottom: 11px;
}

.ingredients__modal-form {
  width: 240px;
}
@media screen and (min-width: 768px) {
  .ingredients__modal-form {
    width: 376px;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__input {
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
}
.modal-form__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 17px;
  color: var(--secondary-color);
}
.modal-form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 17px;
  color: var(--secondary-color);
}
.modal-form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 17px;
  color: var(--secondary-color);
}
.modal-form__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 17px;
  color: var(--secondary-color);
}
.modal-form__input::placeholder {
  font-size: 12px;
  line-height: 17px;
  color: var(--secondary-color);
}
.modal-form__input:not(textarea) {
  margin-bottom: 12px;
}

.modal-form__textarea {
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .modal-form__textarea {
    margin-bottom: 32px;
  }
}

.modal-form__submit {
  min-height: 42px;
  -ms-flex-item-align: center;
      align-self: center;
}

.video-stub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .video-stub {
    margin-bottom: 32px;
  }
}

.read-more-modal__descr {
  font-size: 14px;
  line-height: 1.4;
}
@media screen and (min-width: 768px) {
  .read-more-modal__descr {
    font-size: 16px;
  }
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: var(--brand-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 28px;
}

.navigation__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.navigation__link:hover {
  color: var(--accent-color);
}
.navigation__link:focus {
  color: #0A8817;
}
.navigation__link:disabled {
  color: #ABABAB;
}

.header__mobile-menu-btn {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__mobile-menu-btn {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__mobile-menu-btn {
    display: none;
  }
}

.header__buy-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__buy-btn {
    display: block;
  }
}
.mobile-menu .header__buy-btn {
  display: block;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu .header__buy-btn {
    display: none;
  }
}

.header__mobile-menu-btn,
.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.promo {
  position: relative;
  padding-top: 65px;
  padding-bottom: 12px;
  min-height: 500px;
  background: var(--brand-color) url("../img/dots-mobile.svg") no-repeat 50% 100%;
}
@media screen and (width: 480px) {
  .promo {
    background-position: 100% 100%;
  }
}
@media screen and (min-width: 480px) {
  .promo {
    min-height: 415px;
    padding-top: 80px;
  }
}
@media screen and (min-width: 768px) {
  .promo {
    background-image: url("../img/dots-tablet.svg");
  }
}
@media screen and (min-width: 1200px) {
  .promo {
    min-height: 664px;
    padding-top: 90px;
    background-image: url("../img/dots.svg");
  }
}

.motto {
  margin-top: 25px;
  margin-bottom: 30px;
  width: 250px;
  font: 26px/33px "Seymour One", sans-serif;
  text-transform: uppercase;
  color: var(--main-color);
}
.motto--bigger {
  font-size: 34px;
  line-height: 1;
}

.promo__btn {
  display: inline-block;
  min-height: 38px;
  padding: 8px 24px;
  margin-right: 12px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 12px;
  background: none;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  -webkit-transition: border-color 250ms linear;
  transition: border-color 250ms linear;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .promo__btn {
    margin-right: 38px;
    margin-bottom: 92px;
  }
  .promo__btn:focus {
    color: var(--main-color);
  }
  .promo__btn:disabled {
    border-color: var(--disabled-color);
  }
}
.promo__btn:hover, .promo__btn:focus {
  border-color: var(--effects-color);
}

.icecream-img {
  position: absolute;
  bottom: 0;
  right: 60px;
}
@media screen and (min-width: 480px) {
  .icecream-img {
    right: calc(20px + (100% - 480px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .icecream-img {
    right: calc(92px + (100% - 768px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .icecream-img {
    right: calc(92px + (100% - 1200px) / 2);
  }
}

.promo__link {
  font-weight: 600;
  font-size: 12px;
  color: var(--accent-color);
  text-decoration: underline;
}
.promo__link:hover {
  color: var(--effects-color);
}
@media screen and (min-width: 768px) {
  .promo__link:focus {
    color: var(--main-color);
  }
  .promo__link:disabled {
    color: var(--disabled-color);
  }
}

.promo__ice-cream-example {
  display: none;
}
@media screen and (min-width: 768px) {
  .promo__ice-cream-example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.promo__example-img {
  margin-right: 32px;
}
@media screen and (min-width: 1200px) {
  .promo__example-img {
    margin-right: 16px;
  }
}

.pormo__description {
  position: relative;
  width: 150px;
  font-size: 12px;
  line-height: 17px;
  color: var(--main-color);
}
.pormo__description::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  display: block;
  width: 41px;
  height: 16px;
  background: url("../img/arrow.svg");
}

.promo-info {
  display: none;
  position: absolute;
  text-align: right;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .promo-info {
    display: block;
    top: 94px;
    right: calc(32px + (100% - 768px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .promo-info {
    top: 126px;
    right: calc(32px + (100% - 1200px) / 2);
  }
}

.promo-info__item:not(:last-child) {
  margin-bottom: 20px;
}

.promo-info__digit {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 1200px) {
  .promo-info__digit {
    font-size: 46px;
    line-height: 1.08;
  }
}

.promo-info__title {
  font-size: 8px;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .promo-info__title {
    font-size: 14px;
  }
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  background-image: url("../img/ice-cream-bg-mobile.jpg");
  background-position: 100% 50%;
}
@media screen and (min-width: 768px) {
  .products {
    background-image: url("../img/ice-cream-bg-tablet.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url("../img/ice-cream-bg.jpg");
  }
}

.under-title {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .under-title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .under-title {
    font-size: 30px;
  }
}

.section-title {
  margin-bottom: 40px;
  font: 30px/1.27 "Seymour One", sans-serif;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 80px;
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 120px;
    font-size: 36px;
  }
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .products__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 320px;
}
@media screen and (min-width: 768px) {
  .products__item {
    width: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    width: 370px;
  }
}
@media screen and (max-width: 767px) {
  .products__item:not(:last-child) {
    margin-bottom: 60px;
  }
}

.product-item__wrapper {
  padding: 123px 40px 16px;
  min-height: 420px;
  margin-top: -106px;
  border-radius: 24px;
}
@media screen and (min-width: 480px) {
  .product-item__wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 768px) {
  .product-item__wrapper {
    min-height: 428px;
    padding-left: 26px;
    padding-right: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .product-item__wrapper {
    min-height: 536px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
.product-item__wrapper--green {
  background-color: #AEC6A5;
}
.product-item__wrapper--yellow {
  background-color: #EFD478;
}
.product-item__wrapper--brown {
  background-color: #D6936D;
}

.products__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    margin-bottom: 66px;
    font-size: 30px;
  }
}

.products__descr {
  position: relative;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.04em;
}
.products__descr::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 182px;
  display: block;
  width: 41px;
  height: 16px;
  background: url("../img/arrow.svg");
}
@media screen and (min-width: 768px) {
  .products__descr::after {
    top: 190px;
  }
}
@media screen and (min-width: 1200px) {
  .products__descr::after {
    top: 250px;
  }
}

.products__img-thumb {
  position: relative;
  z-index: 10;
  width: 200px;
}
@media screen and (min-width: 1200px) {
  .products__img-thumb {
    width: 302px;
  }
}

.products__accent {
  position: absolute;
  z-index: -1;
  top: 12px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .products__accent {
    top: 16px;
    width: 302px;
    height: 302px;
  }
}
.products__accent--green {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
}
.products__accent--yellow {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
}
.products__accent--brown {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(213, 117, 63, 0.7)), to(rgba(213, 117, 63, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.made {
  padding-top: 60px;
  padding-bottom: 80px;
  color: var(--main-color);
  background-color: #84A178;
}
@media screen and (min-width: 768px) {
  .made {
    padding-bottom: 180px;
  }
}

.process,
.achievement,
.achievement__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process {
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .process {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .process {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .process {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.made__under-title,
.made__title {
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.made__under-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .made__under-title {
    font-weight: 800;
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .made__under-title {
    font-size: 30px;
  }
}

.made__title {
  font: 30px/1.25 "Seymour One", sans-serif;
  margin-bottom: 54px;
}
@media screen and (min-width: 768px) {
  .made__title {
    margin-bottom: 80px;
  }
}
.made_img-thumb {
  position: relative;
}
@media screen and (max-width: 767px) {
  .made_img-thumb {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .made_img-thumb {
    margin-right: 110px;
  }
}

.made__img {
  position: relative;
  z-index: 2;
}

.made__accent {
  position: absolute;
  top: -22px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
}
@media screen and (min-width: 768px) {
  .made__accent {
    width: 330px;
    height: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .made__accent {
    width: 490px;
    height: 490px;
  }
}

.process__descr {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 12px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 480px) {
  .process__descr {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (min-width: 768px) {
  .process__descr {
    padding-left: 0;
    padding-right: 0;
    width: 336px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .process__descr {
    font-size: 16px;
    width: 463px;
  }
}

.process__descr-text:not(:last-of-type) {
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .process__descr-text:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.process__descr-text:last-of-type {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .process__descr-text:last-of-type {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .process__descr-text:last-of-type {
    margin-bottom: 52px;
  }
}

.process__btn {
  min-height: 42px;
}
.process__btn::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background-image: url("../img/btn-arrow.svg");
}

.achievement {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .achievement {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .achievement {
    padding-left: 0;
    padding-right: 0;
  }
}

.achievement__item {
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 480px) {
  .achievement__item {
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media screen and (min-width: 768px) {
  .achievement__item {
    padding-left: 0;
    padding-right: 0;
    width: 148px;
  }
}
@media screen and (min-width: 1200px) {
  .achievement__item {
    width: 300px;
  }
}

.achievement__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .achievement__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.achievement__img-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background: var(--accent-color);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .achievement__img-thumb {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .achievement__img-thumb {
    margin-bottom: 40px;
  }
}

.achievement__digit {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .achievement__digit {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .achievement__digit {
    font-size: 58px;
  }
}

.achievement__descr {
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .achievement__descr {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .achievement__descr {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */