:root {
  --brand-color: #84A278;
  --accent-color: #F8D24E;
  --main-color: #FCFCFC;
  --secondary-color: #131313;
  --effects-color: #0A8817;
  --disabled-color: #ababab;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.btn {
  border: none;
  padding: 12px 35px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  line-height: 0;
  background-color: var(--accent-color);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.btn:hover, .btn:focus {
  background-color: var(--effects-color);
}
.btn:focus {
  color: var(--main-text-color);
}
.btn:disabled {
  background-color: var(--disabled-color);
}

.header__buy-btn::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  background-image: url("../img/btn-arrow.svg");
}

.logo {
  display: block;
  width: 40px;
}
@media screen and (min-width: 480px) {
  .logo {
    width: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    width: 60px;
  }
}
.mobile-menu .logo {
  margin-left: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 500ms linear, visibility 500ms linear;
  transition: opacity 500ms linear, visibility 500ms linear;
  overflow: auto;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding-top: 14px;
  padding-bottom: 64px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: var(--brand-color);
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 17px;
  right: 20px;
}

.mobile-menu__close-icon {
  fill: #fff;
}
.mobile-menu__close-btn--little .mobile-menu__close-icon {
  fill: var(--secondary-color);
}

.mobile-menu--top {
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .mobile-menu--top {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu--top {
    margin-bottom: 76px;
  }
}

.mobile-menu__item {
  text-align: center;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.mobile-menu__link {
  font-weight: 700;
  font-size: 32px;
  color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu__link {
    font-size: 48px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px;
  width: 88%;
  background-color: var(--main-color);
  border: 2px solid #F8D24E;
  border-radius: 10px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 420px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 570px;
  }
}

.mobile-menu__close-btn--little {
  top: 12px;
  right: 12px;
}

.modal__title {
  font: 16px/1.5 "Seymour One", sans-serif;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal__title {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.buy-now-modal {
  margin-top: 150px;
}

.buy-now-modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px 32px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .buy-now-modal__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .buy-now-modal__list {
    margin-bottom: 40px;
  }
}

.buy-now-modal__item {
  position: relative;
}

.buy-now-modal__descr {
  padding: 20px 10px 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.buy-now-modal__accent {
  position: absolute;
  z-index: -1;
  top: 7px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
}
.buy-now-modal__accent--green {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(156, 190, 143, 0.7)), to(rgba(156, 190, 143, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5px 20px rgba(10, 136, 23, 0.25);
}
.buy-now-modal__accent--yellow {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 5px 20px rgba(153, 114, 23, 0.25);
}
.buy-now-modal__accent--brown {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(213, 117, 63, 0.7)), to(rgba(213, 117, 63, 0.7))), #D9D9D9;
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}

.buy-now-modal__border {
  display: block;
  position: absolute;
  z-index: -1;
  top: 62px;
  width: 132px;
  height: 136px;
  border-radius: 15px;
}
.buy-now-modal__border--green {
  border: 2px solid #96AF8C;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
          filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
}
.buy-now-modal__border--yellow {
  border: 2px solid #EFD478;
  -webkit-box-shadow: 0px 5px 20px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 5px 20px rgba(212, 20, 67, 0.1);
}
.buy-now-modal__border--brown {
  border: 2px solid #D6936D;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
          filter: drop-shadow(0px 5px 20px rgba(212, 20, 67, 0.1));
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__input {
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
}
.modal-form__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 17px;
  color: var(--secondary-color);
}
.modal-form__input::-moz-placeholder {
  font-size: 12px;
  line-height: 17px;
  color: var(--secondary-color);
}
.modal-form__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 17px;
  color: var(--secondary-color);
}
.modal-form__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 17px;
  color: var(--secondary-color);
}
.modal-form__input::placeholder {
  font-size: 12px;
  line-height: 17px;
  color: var(--secondary-color);
}
.modal-form__input:not(textarea) {
  margin-bottom: 12px;
}

.modal-form__textarea {
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .modal-form__textarea {
    margin-bottom: 32px;
  }
}

.modal-form__submit {
  min-height: 42px;
  -ms-flex-item-align: center;
      align-self: center;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--brand-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 28px;
}

.navigation__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.navigation__link:hover {
  color: var(--accent-color);
}
.navigation__link:focus {
  color: #0A8817;
}
.navigation__link:disabled {
  color: #ABABAB;
}

.header__mobile-menu-btn {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__mobile-menu-btn {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__mobile-menu-btn {
    display: none;
  }
}

.header__buy-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__buy-btn {
    display: block;
  }
}
.mobile-menu .header__buy-btn {
  display: block;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu .header__buy-btn {
    display: none;
  }
}

.header__mobile-menu-btn,
.mobile-menu__close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.promo {
  padding-top: 65px;
  min-height: 350px;
  background: var(--brand-color);
}

.motto {
  margin-top: 25px;
  margin-bottom: 30px;
  width: 250px;
  font: 26px/33px "Seymour One", sans-serif;
  text-transform: uppercase;
  color: var(--main-color);
}
@media screen and (min-width: 1200px) {
  .motto {
    margin-top: 0;
  }
}
.motto--bigger {
  font-size: 34px;
  line-height: 1;
}

.promo__btn {
  display: inlene-block;
  min-height: 38px;
  padding: 10px 26px;
  margin-right: 12px;
  background: none;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
}
@media screen and (min-width: 1200px) {
  .promo__btn {
    margin-right: 38px;
  }
  .promo__btn:focus {
    color: var(--main-color);
  }
  .promo__btn:disabled {
    border-color: var(--disabled-color);
  }
}
.promo__btn:hover, .promo__btn:focus {
  border-color: var(--effects-color);
}

.promo__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.promo__ice-cream-example {
  display: none;
}
@media screen and (min-width: 1200px) {
  .promo__ice-cream-example {
    display: block;
  }
}

.promo-info {
  display: none;
}
@media screen and (min-width: 768px) {
  .promo-info {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */